.gitattributes

/index.php

/plugins/index.php
/plugins/akismet
/plugins/hello.php
/plugins/advanced-custom-fields
/plugins/acf-options-page
/plugins/meetup-widgets

/themes/index.php
/themes/twenty*

/uploads

node_modules
.sass-cache
